* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	background: #4c566a;
	color: #fff;
}
body {
	font: 14px/18px Tahoma, Arial, sans-serif;
	/* background: #f0f7f9; */
}

.container {
	width: 70vw;
	margin: 30px auto;
	background: #4c566a;
}

h1 {
	padding-bottom: 20px;
	margin-bottom: 40px;
	border-bottom: 1px #40361e solid;
	line-height: 1;
	font-weight: normal;
	color: #fff;
	text-align: center;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	border: 1px solid black;
}
table th,
table td {
	padding: 5px 10px;
	text-align: left;
	border-left: 1px;
}

table th {
	/* padding: 25px 20px; */
	/* background-color: #77d5d4; */
	background-color: #4c566a;
	position: relative;
	/* cursor: pointer; */
	color: #f2fbfa;
	/* border-bottom: solid 15px; */
}
table th:after {
	content: '';
	display: none;
	width: 0;
	height: 0;
	margin-top: -5px;
	position: absolute;
	top: 50%;
	right: 20px;
}
table th.asc:after {
	display: block;
	border-style: solid;
	border-width: 0 5px 10px 5px;
	border-color: transparent transparent #e2e2e2 transparent;
}

table th.desc:after {
	display: block;
	border-style: solid;
	border-width: 10px 5px 0 5px;
	border-color: #e2e2e2 transparent transparent transparent;
}

table tr:nth-child(odd) td {
	background-color: #434c5e;
	/* background-color: #4c566a; */
}

input {
	background-color: transparent;
	color: #fff;
	border: none;
}
input:enabled {
	color: #000;
	background-color: #fff;
}
input:focus {
	outline-color: #88c0d0;
}
/* buttons */
.edit-btn,
.delete-btn,
.cancel-btn,
.confirm-btn {
	outline: none;
	display: inline-block;
	padding: 7px 20px;
	border-radius: 25px 0px 25px 0px;
	text-decoration: none;
	color: #fff;
	background-image: -webkit-linear-gradient(45deg, #ffc107 0%, #ff8b5f 100%);
	background-image: linear-gradient(45deg, #ffc107 0%, #ff8b5f 100%);
	transition: 0.4s;
}
.delete-btn {
	border-radius: 0px 25px 0px 25px;
	background-image: -webkit-linear-gradient(45deg, #ff2c07 0%, #ff8b5f 100%);
	background-image: linear-gradient(45deg, #ff2c07 0%, #ff8b5f 100%);
}
.confirm-btn {
	border-radius: 25px 0px 25px 0px;
	background-image: -webkit-linear-gradient(45deg, #24ff07 0%, #ff8b5f 100%);
	background-image: linear-gradient(45deg, #24ff07 0%, #ff8b5f 100%);
}
.cancel-btn {
	border-radius: 0px 25px 0px 25px;
}
/* buttons hover */
.edit-btn:hover,
.cancel-btn:hover {
	cursor: pointer;
	background-image: -webkit-linear-gradient(45deg, #ffc107 0%, #f76a35 100%);
	background-image: linear-gradient(45deg, #ffc107 0%, #f76a35 100%);
}
.delete-btn:hover {
	cursor: pointer;
	background-image: -webkit-linear-gradient(45deg, #ff2c07 0%, #f76a35 100%);
	background-image: linear-gradient(45deg, #ff2c07 0%, #f76a35 100%);
}
.confirm-btn:hover {
	cursor: pointer;
	background-image: -webkit-linear-gradient(45deg, #24ff07 0%, #f76a35 100%);
	background-image: linear-gradient(45deg, #24ff07 0%, #f76a35 100%);
}

.loading-title h1 {
	text-align: center;
	border-bottom: 0px;
	color: red;
}
.hidden {
	display: none;
}
